$color_primary:    rgb(0, 137, 216);
$color_green:      rgb(0, 175, 50);
$color_orange:     rgb(250, 150, 50);
$color_red:        rgb(225, 50, 50);
$color_green_teal: rgb(40, 200, 160);
$color_purple:     rgb(75, 50, 200);
$color_pink:       rgb(247, 97, 244);
$color_grey:       rgb(60, 60, 60);

$color_status_present:  limegreen;
$color_status_late:     orange;
$color_status_absent:   crimson;
$color_status_expelled: darkorchid;
